.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 28px 16px 28px;
  min-width: fit-content;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all .25s ease-in-out;
}

.large {
  height: 67px;
  font-size: 18px;
}

.medium {
  height: 60px;
  font-size: 16px;
}

.small {
  height: 45px;
  font-size: 14px;
}

.contained {
  color: var(--color-white);
  background-color: var(--color-primary);

  &:hover {
    background-color: var(--color-ocean);
  }
}

.outlined {
  color: var(--color-primary);
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);

  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
}