@import "styles/breakpoints";

.lessonHeader {
  padding-top: 70px;
  padding-bottom: 30px;
  padding-left: 40px;
  color: var(--color-white);
  background-image: url('/images/background.png');
  background-size: cover;

  @include size-phone-large {
    padding-top: 3px;
    padding-bottom: 3px;
  }
}

.main {
  display: flex;
}

.lesson {
  //border: solid red 1px;
  width: 100vw;
}