:root {
  --color-primary: #04677B;
  --color-white: #ffffff;
  --color-ocean: #00516C;
  --color-dark: #18292D;

  --brand-font: "Manrope", "Muller", -apple-system, "BlinkMacSystemFont", Segoe UI, "Roboto", Oxygen,
  Ubuntu, "Cantarell", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}