@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@100&display=swap');
@import "variables";

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--brand-font);
}